body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #808080;
    color: #fff;
}

.header h1, .header h2 {
    margin: 0;
}

.hellouser {
    font-size: 1.2rem;
}

.header-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px; /* Adjusted border-radius for a more rounded look */
    cursor: pointer;
    font-size: 1rem; /* Increased font size for better readability */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added smooth transition for hover effect */
}

.header-button:hover {
    background-color: #333;
    transform: scale(1.05); /* Slightly increases the button size on hover */
}

.header_balance {
    margin: 20px;
    text-align: center;
    font-size: 1.2rem; /* Increased font size for better readability */
}

.inputbox {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}

.mybutton {
    margin-left: 20px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.mybutton:hover {
    background-color: #333;
    transform: scale(1.05);
}

.mylist {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mylist:last-child {
    border-bottom: none;
}

ul {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}
